*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    justify-content: space-between;
}

/* General Styling */
body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Styling for Header */
.header {
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    color: white;
}

.header .nav {
    width: 70%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav .logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}

.nav .nav-links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.nav-links li {
    list-style: none;
    margin-left: 24px;
}

.nav-links li a {
    text-decoration: none;
    color: #F9FAF8;
}

.hero {
    width: 70%;
    height: 440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 36px;
    margin-bottom: 24px;
}

.hero .description,
.hero .image-container {
    max-width: 50%;
    max-height: 100%;
}

.hero .description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.hero .description .main-title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero .description p {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 12px;
}

.hero .description button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 16px;
    font-weight: 700;
    padding: 8px 30px;
    border-radius: 10px;
    cursor: pointer;
}

.hero .image-container {
    width: 100%;
    height: 55%;
}

.hero .image {
    width: 100%;
    height: 100%;
    background-color: rgb(108, 108, 117);
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* General styling for the rest of the sections */
main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.section-one,
.section-two,
.section-three {
    min-height: 500px;
    width: 70%;
}

/* Section-one styling */
.section-one .content {
    max-width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-one h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin: 48px 0;
}

.section-one .content .container {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 auto;
    justify-content: center;
    gap: 40px;
}

.section-one .content .container div {
    max-width: 175px;
}

.box {
   height: 175px; 
   width: 175px;
   border: #3882F6 solid 4px;
   border-radius: 16px;
   margin-bottom: 8px;
}

.box-para {
    text-align: center;
    font-size: 18px;
    color: #676768;
}

/* Section-two styling */

.section-two {
    width: 100%;
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-two div {
    width: 55%;
    display: flex;
    flex-direction: column;
}

.section-two div blockquote {
    font-size: 36px;
    font-style: italic;
    font-weight: 250;
    color: #1F2937;
}

.section-two div .cite {
    align-self: flex-end;
    font-size: 24px;
    font-weight: 600;
    color: #1F2937;
    padding-right: 30px;
}